body {

    display: flex;
    flex-direction: column;
    background-color: #04225f;
    width: 1000px;
    height: 800px;
    text-align: center;

}

h1 {

    color: aliceblue;
    font-family:  Helvetica, sans-serif;

} 

