body {

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #04225f;
    width: 100%;
    height: 1080px;
    text-align: center;

}

h1 {

    color: aliceblue;
    font-family:  Helvetica, sans-serif;

} 

app-text-input{

    display: flex;

}
.input-button-area{

    display: flex; /* Usa Flexbox para alinear horizontalmente los elementos */
    justify-content: space-between; /* Asegura que los elementos estén separados por la máxima distancia posible */
    width: 80%; /* Ancho del contenedor */
    height: 50px; /* Alto del contenedor */
    margin: 0 auto; /* Centra el contenedor en la pantalla (opcional) */
    padding: 30px;

}

app-loading-indicator {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 100%;

}