<body>
  <img class="logo" src="assets/images/logos.png">
  <h1>Bienvenido a ChatGPT con HMY Retail Tech</h1>
  <h2>Elige un producto donde quieras probar el nuevo asistente con IA</h2>

  <div class="product-selection">
    <app-behaviour-button-kiosk></app-behaviour-button-kiosk>
    <app-behaviour-button-wines></app-behaviour-button-wines>
    <app-behaviour-button-nsign></app-behaviour-button-nsign>
  </div>
  
  <div class="input-button-area">
    <app-text-input></app-text-input>
    <app-ask-button></app-ask-button>
  </div>
  <app-loading-indicator></app-loading-indicator>
  <app-answer-output></app-answer-output>
  <app-previous-answers></app-previous-answers>
</body>